.form-div {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.errors {
    list-style-type: none;
    font-size: 12px;
    padding: 5px;
    color: #ff5a5f;
}

.title {
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: bold;
}

.form {
    width: 90%;
}

.entries {
    margin: 0px;
    /* margin: 5px; */
    position: relative;
    /* border: 1px solid rgb(238, 238, 238); */
    border-radius: 5px;
    height: 100%;
}


.description {
    width: 100%;
    resize: none;
    outline: none;
    padding-top: 7px;
}

#imgUrl {
    margin-bottom: 15px;
}

label {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    color: #817f7f;
    align-items: center;
    cursor: text;
    padding: 2px;
    padding-left: 4px;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 13px;
    transition: 0.2s ease-in-out;
}

input {
    width: 100%;
    height: 45px;
}


input:focus+label,
input:valid+label {
    color: #ff5a5f;
}

input:focus {
    outline: 0;
    /* border-bottom: 2px solid #ff5a5f; */
}

.submit-button {
    background-color: rgb(227, 28, 95);
    width: 102%;
    border: none;
    border-radius: 5px;
    height: 48px;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

#leave-review-button {
    margin-top: 15px;
}

#deleteBooking-button {
    cursor: pointer;
}
