.spotPage-div {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    flex-direction: column;
    padding: 0px 40px;
    padding-top: 15px;
    font-family: Roboto, Helvetica, sans-serif;
    max-width: 1200px;
    margin: auto;
}


.spot-name-title {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Circular', 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Circular', 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 6px;
    width: fit-content;
}

.fa-star {
    padding-top: 3px;
}

#num-reviews {
    text-decoration: underline;
}

#location {
    text-decoration: underline;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    box-sizing: border-box;
    height: auto;
}


.edit-modal {
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    list-style: none;
    width: 80px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.edit-modal:hover {
    background-color: rgba(225, 225, 225, 0.25);
}

.delete-modal {
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    list-style: none;
    width: 80px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.delete-modal:hover {
    background-color: rgba(225, 225, 225, 0.25);
}

.delete {
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    height: auto;
    text-decoration: underline;
}

.fa-pen-to-square {
    padding-right: 3px;
}

.fa-square-minus {
    padding-right: 3px;
}

.img-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 350px;
}

.big-picture {
    height: 100%;
    width: 50%;
    padding-right: 3px;
}


.small-picture {
    height: 50%;
    width: 50%;
    box-sizing: border-box;
}

@media (max-width: 734px) {
    .big-picture {
        width: 100%;
    }

    .small-picture {
        display: none;
    }
}

#pic-1 {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}

#pic-2 {
    padding-bottom: 2px;
    padding-left: 3px;
    padding-bottom: 3px;
}

#pic-3 {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}

#pic-4 {
    padding-left: 3px;
    padding-bottom: 3px;
}

.owner-info {
    font-family: 'Circular', 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
    margin-bottom: 0;
}

.rooms-etc {
    margin-top: 8px;
    font-size: 17px;
}


.spot-reviews-header-right {
    list-style: none;
    cursor: pointer;
}
