/* TODO Add site wide styles */


.fantasybnb-button {
    background-color: rgb(227, 28, 95);
    color: white;
    font-family: 'Circular', 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    border: none;
    border-radius: 7px;
    height: 3rem;
    box-sizing: border-box;
}

.root {
    padding: 0px 20px;
}
