.hidden {
    display: none
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid rgba(118, 118, 118, 0.8);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 7px;
    height: 25px;
}

.left-nav-div {
    font-size: 20px;
}

.right-nav-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
